#header{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#header .title{
	font: bold 50px Arial;
	color:#0075b8;
	margin:0 auto;
}

#header .subtitle{
	font:normal 18px Arial;
	margin:10px auto;
	padding-left:20%;

}
#header .wrapper{
	display:flex;
	justify-content:space-between;
	width:500px;
	margin:0 auto;
}
#header .speed-wrapper{
	width:120px;
	background-color:#005e91;
	padding:6px;
	border-radius:6px;
}
#header .speed-wrapper #speed-txt{
	font: 20px Arial;
	color:#7dc4ff;
}
#header .speed-wrapper #speed{
	color:#fff;
	height: auto;
	width: 100px;
	font-size:25px;
	border: 0;
	outline: 0;
	font-family: Arial;
	vertical-align: middle;
	text-align: center;
	background-color: #005e91;
}
#header .score-wrapper{
	width:120px;
	background-color:#005e91;
	padding:6px;
	border-radius:6px;
}
#header .score-wrapper #score-txt{
	font: 20px Arial;
	color:#7dc4ff;
}
#header .score-wrapper #score{
	color:#fff;
	font-size:25px;
	font-family: Arial;
	vertical-align: middle;

}
#header .newgame-wrapper #newgame-buttom{
	width:120px;
	display:block;
	background-color:#005e91;
	text-decoration:none;
	padding:16px;
	border-radius:6px;
	color:#fff;
	font:bold 25px Arial;

}
#header .newgame-wrapper #newgame-buttom:hover{
	background-color:#bdac9c;
}
#grid-container{
	width:460px;
	height:460px;
	padding:20px;
	background-color:#155b6a;
	margin:10px auto;
	border-radius:10px;
	position:relative;
}
#grid-container .grid-cell{
	width:100px;
	height:100px;
	background-color:#276174;
	border-radius:6px;
	position:absolute;
}

#grid-container .number-cell-0{
	background-color: #00131b;
	font-size: 40px;
	position:absolute;
}
#grid-container .number-cell-2{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #cce6ff;
	color: #45464A;
}
#grid-container .number-cell-4{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #a5d4ff;
	color: #45464A;
}
#grid-container .number-cell-8{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #7dc4ff;
	color: #ffffff;
}
#grid-container .number-cell-16{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #56b5ff;
	color: #ffffff;
}
#grid-container .number-cell-32{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #2fa8ff;
	color: #ffffff;
}
#grid-container .number-cell-64{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #089cff;
	color: #ffffff;
}
#grid-container .number-cell-128{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #0089df;
	color: #ffffff;
}
#grid-container .number-cell-256{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #0075b8;
	color: #ffffff;
}
#grid-container .number-cell-512{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #005e91;
	color: #ffffff;
}
#grid-container .number-cell-1024{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #00476a;
	color: #ffffff;
}
#grid-container .number-cell-2048{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #002d42;
	color: #ffffff;
}
#grid-container .number-cell-4096{
	border-radius:6px;
	position:absolute;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
	background-color: #00131b;
	color: #ffffff;
}




